@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    color: #d8d6d6;
  }
}

@layer base {
  input,textarea {
    border-bottom-width: 1px solid theme('colors.gold');
    background-color: theme('colors.transparent');
    font-size: theme('fontSize.tiny');
    
  }

  input:focus {
    outline: none;
  }
}




